/* DARK MODE */

body.dark-mode {

    background-color: #121212;

    color: white;
}

body.dark-mode .bg-light {

    background-color: #1e1e1e !important;
}

body.dark-mode .card {

    background-color: #2a2a2a;

    color: white;
}

body.dark-mode .text-muted {

    color: #bdbdbd !important;
}

body.dark-mode .table {

    color: white;
}

body.dark-mode .form-control {

    background-color: #2a2a2a;

    border-color: #444;

    color: white;
}

body.dark-mode .form-control:focus {

    background-color: #2a2a2a;

    color: white;
}

body.dark-mode .btn-outline-secondary {

    border-color: #666;

    color: white;
}

body.dark-mode .table thead {

    color: white;
}

body.dark-mode .table td,
body.dark-mode .table th {

    background-color: #2a2a2a !important;

    color: white;

    border-color: #444;
}

body.dark-mode .table-striped > tbody > tr:nth-of-type(odd) > * {

    background-color: #252525 !important;
}

body.dark-mode .table-hover tbody tr:hover td {

    background-color: #333 !important;
}

body.dark-mode
.p-datatable .p-datatable-tbody > tr:hover {

    background-color: #2d3748 !important;
}